<div class="breadcrumb">
    <ul class="task">
        <li class="home"><a href="http://localhost/webbangiay/">Trang chủ</a></li>
        <li class="slash"><p href="">Chi tiết giỏ hàng</p></li>
    </ul>
</div>
<div class="tt">
    <a>Giỏ hàng</a>
</div>
<div class="qc">
    <div class="bor">
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên sản phẩm</th>
                    <th>Hình ảnh</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                    <th>Xóa</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="width: 65px">1</td>
                    <td style="width: 330px;">Adidas Originals White</td>
                    <td style="width: 135px;">
                        <img src="../img/product/Giay_Stan_Smith_trang_M20325_01_standard.jpg" class="img-thumnail" alt style="width: 75px;height: 65px;">
                    </td>
                    <td style="display: flex;width: 160px;">
                        <a class="cart-sumsub" href="" style="font-size: 18px;">-</a>
                        <input type="text" value="1" style="width: 40px; text-align: center;height: 35px;">
                        <a class="cart-sumsub" href="" style="font-size: 18px;">+</a>
                    </td>
                    <td style="width: 190px">2.300.000 VNĐ</td>
                    <td style="width: 140px">
                        <a href=""><span class="trash" aria-hidden="true"></span></a>
                    </td>
                </tr>
                <tr>
                    <td style="width: 65px">1</td>
                    <td style="width: 330px;">Adidas Originals White</td>
                    <td style="width: 135px;">
                        <img src="../img/product/Giay_Stan_Smith_trang_M20325_01_standard.jpg" class="img-thumnail" alt style="width: 75px;height: 65px;">
                    </td>
                    <td style="display: flex;width: 160px;">
                        <a class="cart-sumsub" href="" style="font-size: 18px;">-</a>
                        <input type="text" value="1" style="width: 40px; text-align: center;height: 35px;">
                        <a class="cart-sumsub" href="" style="font-size: 18px;">+</a>
                    </td>
                    <td style="width: 190px">2.300.000 VNĐ</td>
                    <td style="width: 140px">
                        <a href=""><span class="trash" aria-hidden="true"></span></a>
                    </td>
                </tr>
                <tr>
                    <td style="width: 65px">1</td>
                    <td style="width: 330px;">Adidas Originals White</td>
                    <td style="width: 135px;">
                        <img src="../img/product/Giay_Stan_Smith_trang_M20325_01_standard.jpg" class="img-thumnail" alt style="width: 75px;height: 65px;">
                    </td>
                    <td style="display: flex;width: 160px;">
                        <a class="cart-sumsub" href="" style="font-size: 18px;">-</a>
                        <input type="text" value="1" style="width: 40px; text-align: center;height: 35px;">
                        <a class="cart-sumsub" href="" style="font-size: 18px;">+</a>
                    </td>
                    <td style="width: 190px">2.300.000 VNĐ</td>
                    <td style="width: 140px">
                        <a href=""><span class="trash" aria-hidden="true"></span></a>
                    </td>
                </tr>
                <tr>
                    <td style="width: 65px">1</td>
                    <td style="width: 330px;">Adidas Originals White</td>
                    <td style="width: 135px;">
                        <img src="../img/product/Giay_Stan_Smith_trang_M20325_01_standard.jpg" class="img-thumnail" alt style="width: 75px;height: 65px;">
                    </td>
                    <td style="display: flex;width: 160px;">
                        <a class="cart-sumsub" href="" style="font-size: 18px;">-</a>
                        <input type="text" value="1" style="width: 40px; text-align: center;height: 35px;">
                        <a class="cart-sumsub" href="" style="font-size: 18px;">+</a>
                    </td>
                    <td style="width: 190px">2.300.000 VNĐ</td>
                    <td style="width: 140px">
                        <a href=""><span class="trash" aria-hidden="true"></span></a>
                    </td>
                </tr>
                <tr>
                    <td style="width: 65px">1</td>
                    <td style="width: 330px;">Adidas Originals White</td>
                    <td style="width: 135px;">
                        <img src="../img/product/Giay_Stan_Smith_trang_M20325_01_standard.jpg" class="img-thumnail" alt style="width: 75px;height: 65px;">
                    </td>
                    <td style="display: flex;width: 160px;">
                        <a class="cart-sumsub" href="" style="font-size: 18px;">-</a>
                        <input type="text" value="1" style="width: 40px; text-align: center;height: 35px;">
                        <a class="cart-sumsub" href="" style="font-size: 18px;">+</a>
                    </td>
                    <td style="width: 190px">2.300.000 VNĐ</td>
                    <td style="width: 140px">
                        <a href=""><span class="trash" aria-hidden="true"></span></a>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">Tổng tiền</td>
                    <td style="font-weight: bold;color: green;">2.300.000 VNĐ</td>
                    <td>
                        <a style="font-weight: bold;color: red;font-size: 17px;" href="">Xóa toàn bộ</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <a href="" class="btn btn-success">Đặt mua</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <img src="../img/qc.png">
</div>