<div class="breadcrumb">
    <ul class="task">
        <li class="home"><a href="http://localhost/webbangiay/">Trang chủ</a></li>
        <li class="slash"><p href="">Adidas</p></li>
    </ul>
</div>
<div class="tt">
    <a>Adidas</a>
</div>
<div class="qcs" style="display: flex; margin-left: 250px; margin-right: 284px;">
    <div class="border">
        <div class="panel-body">
            <div class="sanpham">
                {% for items in list_shoe %}
                    <div class="sanpham-1 re-padding">
                        <div class="sanpham-item">
                            <div class="sanpham-name" >
                                <a href="" style="color: #337ab7; font-size: 14px">{{ items.name|e }}</a>
                            </div>
                            <div class="sanpham-image">
                                <img src="img/shoe/{{ items.getImgShow() }}">
                            </div>
                            <div>
                                <p class="gia">Giá: <strong style="color: red;">{{ items.price|e}} VNĐ</strong></p>
                            </div>
                            <a href="javascript:void(0)" class="add_to_cart" items-id="{{ items.id|e }}">
                                <button class="btn btn-info"><span>Thêm vào giỏ hàng</span></button>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <img src="../img/qc1.jpg">
</div>
<script>
    $(".add_to_cart").click(function () {
        let id = $(this).attr("items-id");
        $.post("/shoe-shop/add-to-cart", { items_id: id }, function (res) {
            $(".cart").text("Giỏ hàng("+res.data+")");
        }, 'json');
    });
</script>